$color-white: #ffffff;
$color-background-color: #F6F6F6;
$color-black-white: #D0D0D0;
$color-light-white: #E8E8E8;
$color-grey: #4b4b4b;
$color-light-black-grey: #6b6b6b;
$color-black-grey: #555555;
$color-light-black-grey_2: #646464;
$color-light-black_2: #050505;
$color-light-black: #0d0d0d;
$color-red: #C70101;