@use "sass:meta";

@include meta.load-css('base/variables');
@include meta.load-css('blocks/promo');
@include meta.load-css('blocks/header');
@include meta.load-css('blocks/buttons');

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}