@use "sass:meta";

@include meta.load-css('base/variables');
@include meta.load-css('blocks/promo');
@include meta.load-css('blocks/header');
@include meta.load-css('blocks/buttons');
@include meta.load-css('blocks/advantages');
@include meta.load-css('blocks/consultation');
@include meta.load-css('blocks/titles');
@include meta.load-css('blocks/carousel');
@include meta.load-css('blocks/catalog');
@include meta.load-css('blocks/reviews');
@include meta.load-css('blocks/footer');
@include meta.load-css('blocks/modal');

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;

    @media screen and (max-width: 1000px) {
        & {
            padding: 0 20px;
        }
    }

    @media screen and (max-width: 800px) {
        & {
            padding: 0 10px;
        }
    }

    @media screen and (max-width: 700px) {
        & {
            padding: 0 5px;
        }
    }

    @media screen and (max-width: 600px) {
        & {
            padding: 0 2px;
        }
    }
}