@use "base/variables";

.advantages {
    background: variables.$color-background-color;
    padding: 63px 0 65px 0;
    min-height: 473px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        min-height: 245px;
        margin-top: 60px;
    }

    &__items {
        width: 269px;

        img {
            display: block;
            margin: 0 auto;
            object-fit: cover;
            width: 70px;
            min-height: 70px;
        }

        h3 {
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            color: variables.$color-light-black;
            margin-top: 35px;
        }

        div {
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: variables.$color-light-black;

            span {
                text-decoration: underline;
                text-decoration-skip-ink: none;
                text-transform: uppercase;
                color: variables.$color-red_2;
            }
        }
    }

    &__icon {
        &_animated {
            animation: heartbeat 1.5s ease infinite;
        }
    }
}